{% extends 'index.html' %}
{% block head %}
<meta charset="utf-8">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, minimal-ui" /> -->
<meta name="theme-color" content="#faf3dd">
<meta name="twitter:title" content="Sally Weather Bot">
<meta name="twitter:card" content="summary_large_image">
<meta property="og:image" content="/static/img/sally_v1_Asset%201.png">
<meta property="og:type" content="website">
<meta name="twitter:image" content="/static/img/sally_v1_Asset%201.png">
<link rel="icon" type="image/png" sizes="48x56" href="/static/img/sally_v1_Asset%201@0.5x.png">
<link rel="icon" type="image/png" sizes="48x56" href="/static/img/sally_v1_Asset%201@0.5x.png">
<link rel="icon" type="image/png" sizes="96x113" href="/static/img/sally_v1_Asset%201-1.png">
<link rel="icon" type="image/png" sizes="192x225" href="/static/img/sally_v1_Asset%201@2x.png">
<link rel="icon" type="image/png" sizes="382x448" href="/static/img/sally_v1_Asset%201@4x.png">
<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
<link rel="manifest" href="/static/manifest.json">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic&amp;display=swap">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/css/Navbar-Centered-Links-icons.css">
<link rel="stylesheet" type="text/css" href="/static/styles/header.css" />
{% endblock %}