{% block header %}
<header>
    <!-- Start: Navbar Right Links (Dark) -->
    <nav class="navbar navbar-dark navbar-expand-md py-3" style="background: #faf3dd;">
        <div class="container">
            <a class="navbar-brand d-flex align-items-center" href="#">
                <span class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon" style="background: #8d6346;padding: 4px;">
                    <img class="img-fluid" src="{{ url_for('static', filename='assets/img/sally_v1_Asset%201.png?h=7d4249cf5cb4a36225d6e8089d5695f0') }}" width="90%" loading="eager">
                </span>
                <span style="color: #feb548;">Sally: The Weather Bot</span>
            </a>
            <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-5">
                <span class="visually-hidden">Toggle navigation</span>
                <span class="navbar-toggler-icon" style="color: #8d6346;--bs-primary: #FAF3DD;--bs-primary-rgb: 250,243,221;--bs-secondary: #364652;--bs-body-bg: #FAF3DD;--bs-success: #6BA06A;--bs-success-rgb: 107,160,106;--bs-secondary-rgb: 54,70,82;"></span>
            </button>
            <div class="collapse navbar-collapse" id="navcol-5">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link active" href="{{ url_for('index') }}" style="color: #364652;"><strong>Home</strong></a></li>
                    <li class="nav-item" style="color: #364652;"><a class="nav-link" href="{{ url_for('about') }}" style="color: #364652;">About</a></li>
                    <li class="nav-item" style="color: #364652;"><a class="nav-link" href="{{ url_for('credits') }}" style="color: #364652;">Credits</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
{% endblock %}